body{
margin: 5px;
}
form{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 2%;*/
    border-top: solid 1px;
    border-bottom: solid 1px;
    background-color: rgb(245, 241, 241);
    border-radius: 20px;
    border-color: gray;
}
#derecha{
    float:right;
    width:49%;
    height: auto;
    /*background-color: darksalmon;*/
}
#izquierda{
    /*background-color: darkslateblue;*/
    float: left;
    width: 49%;
    height: auto;
}
#abajo{
    /*background-color: darkslategrey;*/
    width: 100%;
    margin-top: 22%;
    height: auto;
}
label{
    display: inline-block;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 25px;
    width: 100%;
    margin-left: 50px;
    color: rgb(71, 70, 70);
}
#lbl{
    margin-top: 10px;
}
.txt{
    width: 70%;
    height: 40px;
    font-size: 25px;
    margin-left: 50px;
    border-radius: 8px;
    border-color: rgb(195, 194, 194);
    border-width: 0.5px;
    color: rgb(54, 53, 53);
}
#txtt{
    width: 85.5%;
    height: 40px;
    font-size: 25px;
    margin-left: 50px;
    border-radius: 8px;
    border-color: rgb(195, 194, 194);
    border-width: 0.5px;
    color: rgb(54, 53, 53);
}
select{
    display: block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:#444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width:71.5%;
    max-width: 700%;
    height: 40px;
    border-radius: 8px;
    border-color: rgb(195, 194, 194);
    border-width: 0.5px;
}
#save{
    width: 15%;
    display: inline-block;
    margin-left: 76.5%;
    margin-top: 25px;
    height: 55px;
    border-radius: 15px;
    margin-bottom: 25px;
    border-color: rgb(195, 194, 194);
    background-color: rgb(112, 206, 6);
    color: white;
    font-size: 24px;
}
